services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "7000:7000"
    volumes:
      - ./data:/app/server/data
      - /mnt/user/Files/ai-nvr-footage:/app/server/recordings
      - ./mediamtx.yml:/app/server/mediamtx.yml
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - mediamtx
    restart: unless-stopped

  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    ports:
      - "7770:80"
    depends_on:
      - server
    restart: unless-stopped

  mediamtx:
    image: bluenviron/mediamtx:latest
    ports:
      - "8554:8554"
      - "9997:9997"
    volumes:
      - ./mediamtx.yml:/mediamtx.yml
    restart: unless-stopped
